<html>
  <head>
    <title>Gilt Scroll</title>
    <script type="text/javascript" src="/js/colors.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>

    <style type="text/css">
      body {
        background-color: #000;
      }

      #gilt-logo {
        width: 121px;
        height: 65px;
        background-image: url(/images/gilt-logo-black-reverse.png);
        background-color: #FFF;
      }

      div.row {
        width: 936px;
        margin: auto;
      }

      #container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 42px;
        overflow: hidden;
        background: url(/images/slot_top.png) 50% bottom no-repeat;
      }

      #slot_bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 42px;
        background: url(/images/slot_bottom.png) 50% 0 no-repeat;
        text-align: center;
      }

      #slot_bottom img.overlay {
        z-index: 10;
        position: relative;
        top: -10px;
        right: 3px;
      }

      div.look {
        float: left;
        margin: 20px 22px;
      }
    </style>
  </head>

  <body>
    <div id="gilt-logo"></div>
    <div id="container"></div>
    <div id="slot_bottom"><img class="overlay" src="/images/overlay.png"></div>
    <script>
      if(typeof(window.console) == "undefined") {
        console = {}; console.log = function() {};
      }

      var i = parseInt(Math.random() * 100, 10);
      var lookQueue = [];

      var getMoreStyles = function() {
        console.log("Getting styles");
        if(lookQueue.length > 150) { return; }

        i = (i + 1) % 100;
        console.log(i);

        var color = chooseColor(i);
        var rgb = "rgb(" + color[0] + "," + color[1] + "," + color[2] + ")";

        $.getJSON("/search.json/" + color[0] + "/" + color[1] + "/" + color[2], function(data) {
          $.each(data, function() {
            for(var i = 0; i < lookQueue.length; i++) {
              if(lookQueue[i].image_path == this.image_path) {
                console.log("dup: " + this.image_path);
                return;
              }
            }
            lookQueue.push([this, rgb]);
          });
          console.log("queue length: " + lookQueue.length);
        });
      };

      var showMoreStyles = function() {
        if(lookQueue.length < 8) { setTimeout(showMoreStyles, 1000); return; }

        var looks = lookQueue.splice(0, 8);

        var rowDiv = $("<div class='row'></div>");

        $("#gilt-logo").css("background-color", looks[0][1]);
        $.each(looks, function() {
          var look = $("<div class='look'><img width=72 height=96 src='" + this[0].image_path + "'></div>");
          look.appendTo(rowDiv);
        });

        if($("#container > div.row").length > 20) {
          console.log("removing last");
          $("#container > div.row:last").remove();
        }

        rowDiv.css({ marginTop: -135 });
        rowDiv.prependTo("#container");
        rowDiv.animate({ marginTop: 0 }, 3000, 'linear', function() {
          showMoreStyles();
        });
      };

      setInterval(getMoreStyles, 1000);
      getMoreStyles();

      setTimeout(showMoreStyles, 2000);
    </script>
  </body>
</html>
